.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
}

.side-div {
  flex: 1;
  border: 1px solid black;
  box-sizing: border-box;
  width: 50%;
}

.chat-app {
  position: relative;  /* Establishes a positioning context */
  height: 100vh;
  padding-right: 15%; /* Reserve space for chat history */
}

.chatbox {
  width: 100%;  /* Takes up all available space */
  height: 100%;
  overflow-y: auto;
}

.chatbox-history {
  position: absolute;  /* Position this absolutely to its parent (chat-app) */
  right: 0;  /* Attach to the right side */
  top: 0;  /* Attach to the top */
  bottom: 0;  /* Ensure it spans the entire height */
  width: 15%;
  overflow-y: auto;
  border-left: 1px solid #ddd; /* Visual separator */
}

.doclist-section {
  flex-basis: 15%; /* This makes the section take up 15% of the parent width */
  display: flex;
  flex-direction: column;
}

.document-box {
  width: 100%;  /* Takes up all available space */
  height: 100%;
  overflow-y: auto;
}

.file-app {
  display: flex;
  height: 100vh;
}